:root {
  --silver: #c5c5c5ff;
  --deep-space-sparkle: #4c5b61ff;
  --battleship-grey: #829191ff;
  --spanish-gray: #949b96ff;
  --dark-slate-gray: #2c423fff;
  --celadon: #a6d3a0ff;
  --aero-blue: #d1ffd7ff;
  --mint-green: #b3ffb3ff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  line-height: 2;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(silver, rgb(87, 87, 87), black);
}

.main {
  flex: 3;
}
/* nav bar */

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-style: solid;
  border-color: black;
}

.nav-link {
  font-size: 2rem;
  text-decoration: none;
  width: 2.2rem;
  color: rgb(0, 112, 204);
  text-transform: uppercase;
  padding-bottom: 0.8rem;
}

.quiz-title {
  font-size: 4rem;
  text-align: center;
  color: rgb(0, 112, 204);
  padding-top: 1rem;
  font-family: Arial;
}

.quiz-info {
  text-align: center;
  color: black;
  margin: 3rem;
  line-height: 4rem;
  border-style: solid;
  border-color: dimgrey;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  width: 20rem;
  background-color: rgb(0, 255, 0);
  font-size: 3rem;
  cursor: pointer;
  margin-left: 40rem;
}

.full-name-input {
  border: 0.5rem solid rgb(0, 255, 26);
  padding: 1rem 1.2rem;
  cursor: pointer;
  display: block;
  width: 18rem;
  height: 5rem;
  margin-left: 20rem;
  margin-bottom: 5rem;
}

#timer-section {
  color: rgb(0, 149, 255);
  border-style: solid;
  width: 19rem;
  margin-left: 40rem;
  margin-top: 5rem;
}

.question {
  font-family: Arial;
  color: rgb(0, 112, 204);
}

.list-items {
  color: black;
}

@media screen and (max-width: 570px) {
  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    width: 20rem;
    background-color: rgb(0, 255, 0);
    font-size: 3rem;
    cursor: pointer;
    margin-left: 17rem;
  }

  #timer-section {
    color: rgb(0, 149, 255);
    border-style: solid;
    width: 19rem;
    margin-left: 0rem;
    margin-top: 5rem;
  }
}
